<div class="">
	
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_folder_path,
	            :class => 'btn btn-primary' %>
</div>	

<div id="div_update_search"></div>

<div id="div_update">
	<%= render "fetchAll" %>
</div>