<p>
  <strong>Name:</strong>
  <%= @o_single.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @o_single.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @o_single.message %>
</p>

<%= link_to 'Back', contacts_path %>
