@charset "utf-8";
/* CSS Document */

.redStart {color: red; float: left; margin-left: 2px;}

.redStartSelect {color: red; float: left;}

.footerFront p {text-align:center !important;}

.searchRight { float: right; font-size: 20px; margin: -50px 30px 0px 0px; }

.fRight { float: right; font-size: 16px; }

.text-message { float: left; margin: -25px 0 0 275px; font-weight: bold;}

.spinner {float: right; margin: -50px 385px 0 0;}

.mar20{ margin: 0 20px 0 5px;}

.loginfom {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CECECD; border-radius: 10px 10px 10px 10px; box-shadow: 0 0 3px 3px rgba(206, 206, 205, 0.5); margin: 10px auto; padding: 20px; width: 600px; }
